section .twoColoumnsec3 {
    max-width: 1385px;
}

.innerSec3 {
    width: 100%;
    background-color: rgb(119, 118, 118);
    display: flex;
}
.innerSec3 a{
    text-decoration: none;
}

.textPan1 {
    width: 50%;
    padding: 0px 24px 24px;
    margin: 50px 65px;
}


.textPan2 {
    width: 50%;
    padding: 0px 24px 24px;
    margin: 50px 65px;
}
.subHeading {
    font-size: 24px;
}
.textPan1 p{
    color: #7d7b7b;
}
.textPan2  {
    color: white;
}